<ion-view title="Activity Detail" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="activityDetail-card22">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="activityDetail-list-item-container4">
        <div id="activityDetail-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="activityDetail-list-item11">
        <i class="icon ion-android-add"></i>Register</ion-item>
      <ion-item class="item-icon-left positive" id="activityDetail-list-item12">
        <i class="icon ion-ios-location"></i>Address</ion-item>
    </div>
  </ion-content>
</ion-view>