<ion-view title="User Information" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="userInformation-list6">
      <ion-item class="item-avatar" id="userInformation-list-item8">
        <img src="img/jFPY7W5TUKv0jglwg3wF_portrait.jpg">
        <h2>{{username}}</h2>
      </ion-item>
      <ion-item id="userInformation-list-item9">
        <a id="login-button13" class="button button-royal button-block" ng-click="logout()">Login/Logoff</a>
      </ion-item>
      <ion-item id="userInformation-list-item10">
        <a id="login-button14" class="button button-royal button-block" ng-click="myRegisteredEvent()">Registered Events</a>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>